@charset "utf-8";

.home {
  background-color: #f7f7f7;
}

.wrap {
  width: 1200px;
  margin: 0 auto;

  background-color: #f7f7f7;
}

header {
  width: 1200px;
  height: 100px;
  background-color: #012d72;
  padding: 25px 50px;
  justify-content: space-between;
}

main {
  font-size: 15px;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  display: flex;
  justify-content: center;

  align-items: center;

  text-align: center;

}

nav .logo {
  margin: 30px 0 0 50px;
}

nav .cv {
  width: 169px;
  height: 50px;
  background-color: #FFF;
  display: flex;
  justify-content: center;

  align-items: center;

  text-align: center;

}

nav li {
  margin-right: 50px;
}

nav .cv a {
  color: #012d72;
  font-weight: 600;
}

nav .cv a:link {
  text-decoration: none;
  color: #012d72;
}

nav .cv a:visited {
  text-decoration: none;
  color: #012d72;
}

nav .cv a:hover {
  text-decoration: underline;
  color: #012d72;
}

nav .cv a:active {
  text-decoration: underline;
  color: #012d72;
}

nav li a {
  color: #FFF;
  font-size: 15px;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

nav li a:link {
  text-decoration: none;
  color: #fff;
}

nav li a:visited {
  text-decoration: none;
  color: #fff;
}

nav li a:hover {
  text-decoration: underline;
  color: #fff;
}

nav li a:active {
  text-decoration: underline;
  color: #fff;
}

.home .mv {
  width: 1200px;
  height: 600px;
  background: url("../images/mv_bg.png") no-repeat;
  padding: 100px 0 0 550px;
}

.home .mv h1 {
  color: #FFF;
  font-size: 45px;
  letter-spacing: 0.05em;

  margin-bottom: 50px;
  line-height: 100%;

  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 35px rgba(85, 85, 85, 0.75);
}

.home .mv h2 {
  color: #FFF;
  font-size: 25px;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;

  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 35px rgba(85, 85, 85, 0.75);
}

.the-first-step {
  position: relative;

  text-align: center;

  width: 1200px;

  height: 694px;
  background: url("../images/thefirststep_bg.png") no-repeat;
  position: relative;

}

.the-first-step .banner {
  padding-top: 313px;
  display: flex;

  justify-content: center;

  color: #fff;

  position: relative;

  gap: 25px;
}

.the-first-step h1 {
  position: absolute;

  top: 100px;

  left: 50%;

  transform: translateX(-50%);

  font-size: 55px;
  color: #fff;
  letter-spacing: 0.05em;

}

.the-first-step h2 {
  position: absolute;

  top: 200px;

  left: 50%;

  transform: translateX(-50%);

  font-size: 25px;
  color: #fff;
  letter-spacing: 0.05em;

}

.hoto02 {
  display: flex;
}

.top_collection {
  color: #444444;
}

.top_collection h1 {
  padding: 80px 120px;
}

.top_collection h2 {
  padding: 108px 0;
  font-size: 25px;
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
  font-style: normal;
}

.collectionbox {
  display: flex;
}

.collectionbox .bigitem {
  margin-right: 22px;
}

.pickuptxt {
  height: 90px;
}

.pickuptxt h3 {
  margin-top: 11px;
}

.pickuptxt p {
  margin-bottom: 44px;
}

.c_photo02 {
  display: flex;
}

.item2 .item22 {
  width: 278px;
  height: 460px;
  margin-right: 22px;
}

.item2 .item {
  width: 278px;
  height: 460px;
}

.details {
  background-color: #f7f7f7;
}

.ring-details {
  width: 1200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ring-details h1 {
  color: #333;
  margin-bottom: 50px;
}

.ring-details h2 {
  color: #333;
}

.detail-ph {
  margin: 0 100px 100px;
}

h1 {
  font-size: 55px;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 25px;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 180%;
}

h3 {
  font-size: 15px;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

.our-philosophy {
  width: 1200px;

  height: 600px;
  background: url("../images/ourphilosophy_bg.png") no-repeat;
  margin-bottom: 50px;
}

.our-philosophy h1 {
  color: #FFF;
  padding: 200px 0 30px 120px;
}

.our-philosophy h2 {
  color: #FFF;
  padding-left: 120px;
}

.our-philosophy a {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.reservation {
  width: 1200px;
  height: 400px;
  background: url("../images/reservation_bg.png") no-repeat;
  position: relative;

  margin-bottom: 100px;
}

.reservation h1 {
  font-size: 55px;
  color: #fff;
  position: absolute;

  top: 100px;

  left: 50%;

  transform: translateX(-50%);

  letter-spacing: 0.05em;

}

.reservation p {
  color: #fff;
  position: absolute;

  top: 180px;

  left: 50%;

  transform: translateX(-50%);

}

.cvlink {
  padding-top: 223px;
  display: flex;

  justify-content: center;

  position: relative;

  gap: 20px;
}

footer {
  color: #FFF;
  font-size: 15px;
  background-color: #333;
  padding: 100px 50px;
  line-height: 200%;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

footer a {
  color: #FFF;
  vertical-align: top;
}

footer a:link {
  text-decoration: none;
  color: #fff;
}

footer a:visited {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
  color: #fff;
}

footer a:active {
  text-decoration: underline;
  color: #fff;
}

.df {
  display: flex;
}

.mb25 {
  margin-bottom: 25px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb150 {
  margin-bottom: 150px;
}

.mr15 {
  margin-right: 15px;
}

.mr17 {
  margin-right: 17px;
}

.mr22 {
  margin-right: 22px;
}

.mr60 {
  margin-right: 60px;
}

.mr80 {
  margin-right: 80px;
}

.copy {
  margin-top: 200px;
  text-align: right;
}

footer h4 {
  font-weight: 600;
  margin-bottom: 30px;
}

.icon {
  vertical-align: middle;
}

.size35 {
  font-size: 35px;
}

.collection {
  background-color: #f7f7f7;
}

.mv_collection {
  width: 1200px;
  height: 300px;
  background: url("../collection/images/mv_collection_bg.png") no-repeat;
  padding: 67px 0 0 700px;
}

.mv_collection h1 {
  color: #FFF;
  font-size: 45px;
  letter-spacing: 0.05em;

  margin-bottom: 50px;
  line-height: 100%;

  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 35px rgba(85, 85, 85, 0.75);
}

.mv_collection h2 {
  color: #FFF;
  font-size: 25px;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;

  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 15px rgba(85, 85, 85, 0.75);
}

.rings .item h3 {
  color: #444;
  margin: 10px 0;
  font-weight: 500;
}

.rings .item p {
  color: #444;
  margin-bottom: 36px;
}

.detail-contens {
  display: flex;
  margin: 100px 100px 0 0;
}

.detail-contens .cv {
  margin-bottom: 100px;
}

.detail-txt h2 {
  color: #333;
  font-size: 35px;
  margin-bottom: 17px;
}

.detail-txt h3 {
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 17px;
}

.detail-txt h4 {
  color: #444;
  margin-bottom: 15px;
}

.detail-txt p {
  color: #444;
  margin-bottom: 37px;
  line-height: 180%;
}

.detail-txt img {
  margin-bottom: 50px;
}

.details .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  border: none;

  border-top: 1px solid #ccc;

  margin-bottom: 20px;
}

.sorry {
  margin: 0 auto;
}

.our_craft {
  background-color: #f7f7f7;
}

.ourcraft_mv {
  width: 1200px;
  height: 600px;
  background: url("../our_craft/images/our_craft_mv.png") no-repeat;
  padding: 220px 0 0 700px;
  margin-bottom: 200px;
}

.ourcraft_mv h1 {
  color: #FFF;
  letter-spacing: 0.05em;

  margin-bottom: 50px;
  line-height: 100%;

  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 35px rgba(85, 85, 85, 0.75);
}

.ourcraft_mv h2 {
  color: #FFF;
  font-size: 25px;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;

  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 35px rgba(85, 85, 85, 0.75);
}

.text-area {
  padding: 0 200px;
}

.ourcraft_contens h2 {
  color: #333;
  margin-bottom: 100px;
  font-size: 35px;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.ourcraft_contens h3 {
  color: #444;
  margin-bottom: 50px;
  font-size: 25px;
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
  font-style: normal;
}

.ourcraft_contens p {
  color: #444;
  line-height: 200%;
  margin-bottom: 50px;
}

.ourcraft_contens {
  color: #444;
}

.bar {
  width: 3px;

  height: 50px;

  background-color: #444;

  margin: 0 auto 100px;

}

.banner {
  margin-bottom: 150px;
}

.our_craft .banner {
  margin-left: 100px;
}

.moments {
  background-color: #f7f7f7;
}

.moments_mv {
  width: 1200px;
  height: 600px;
  background: url("../moments/images/moments_mv.png") no-repeat;
  padding: 270px 0 0 700px;
  margin-bottom: 200px;
}

.moments_mv h1 {
  color: #fff;
  font-size: 45px;
  letter-spacing: 0.05em;

  margin-bottom: 50px;
  line-height: 100%;

}

.moments_mv h2 {
  color: #fff;
  font-size: 25px;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;

}

.moment-contens h1 {
  color: #333;
  margin-bottom: 80px;
}

.moment-contens h2 {
  color: #333;
  font-size: 35px;
  margin-bottom: 50px;
}

.moment-contens p {
  color: #444;
  margin-bottom: 100px;
  line-height: 180%;
}

.episode-txt {
  width: 748px;

  padding: 100px 0 100px 100px;
  margin-bottom: 200px;
}

.episode-txt h4 {
  color: #444;
  font-size: 25px;
  margin-bottom: 50px;
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
  font-style: normal;
}

.episode-txt p {
  color: #444;
  font-size: 15px;
  line-height: 200%;
  margin-bottom: 50px;
}

.our_philosophy {
  background-color: #f7f7f7;
}

a:link {
  text-decoration: none;
  color: #444;
}

a:visited {
  text-decoration: none;
  color: #444;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

a:active {
  text-decoration: underline;
  color: #012d72;
}

.ourphilosophy_mv {
  width: 1200px;
  height: 600px;
  background: url("../our_philosophy/images/our_philosophy_mv.png") no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.ourphilosophy_mv h1 {
  color: #FFF;
  letter-spacing: 0.05em;

  line-height: 100%;
  margin: 0 auto 50px;
}

.ourphilosophy_mv h2 {
  color: #FFF;
  font-size: 25px;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.t-logo {
  margin-bottom: 25px;
}

.our_philosophy .text-area h2 {
  color: #333;
  margin-bottom: 78px;
}

.our_philosophy .text-area h4 {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.bold {
  font-weight: 600;
}

.our-philosophy p {
  margin-bottom: 80px;
}

.ourphilosophy_contens h2 {
  color: #333;
  margin-bottom: 100px;
  font-size: 35px;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.ourphilosophy_contens h3 {
  color: #444;
  margin-bottom: 50px;
  font-size: 25px;
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
  font-style: normal;
}

.ourphilosophy_contens p {
  color: #444;
  line-height: 200%;
  margin-bottom: 50px;
}

.ourphilosophy_contens {
  color: #444;
}

.ourphilosophy_contens .bar {
  width: 3px;

  height: 50px;

  background-color: #444;

  margin: 0 auto 100px;

}

.our_philosophy .text-area {
  margin-bottom: 150px;
}

.our_philosophy .text-area02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.our_philosophy .liora {
  margin-left: 100px;
  margin-bottom: 150px;
}

.text-area .bar-w {

  border: none;

  border-top: 1px solid #ccc;


  margin: 20px auto;

}

.text-area02 .bar-w {

  border: none;

  border-top: 1px solid #ccc;


  margin: 20px 0;

}

.accese {
  margin-bottom: 100px;
}

.reservation_cv {
  background-color: #f7f7f7;
}

.cv-contens {
  width: 1200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-contens h1 {
  color: #333;
  margin-bottom: 50px;
}

.cv-contens h2 {
  color: #333;
}

.pic {
  margin-bottom: 100px;
}

.yoyaku_txt {
  color: #444;
  margin-bottom: 100px;
  line-height: 180%;
}

.formcv {
  margin-bottom: 100px;
}

.teltext {
  color: #444;
  line-height: 180%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.privacy_policy {
  background-color: #f7f7f7;
}

.privacy_policy .text-area {
  margin-bottom: 150px;
}

.privacy_policy ul {
  color: #333;
  line-height: 180%;
  list-style-type: none;
  margin-bottom: 50px;
}

.privacy_policy p {
  color: #444;
  font-size: 15px;
  line-height: 180%;
  margin-bottom: 50px;
}

.privacy_policy h2 {
  color: #333;
  font-size: 25px;
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 50px;
}

.privacy_policy .pmb20 {
  color: #444;
  font-size: 15px;
  line-height: 180%;
  margin-bottom: 20px;
}

.privacy_policy footer p {
  color: #FFF;
}